<%- include('./layout/head'); %>
<body onload="initIns()">
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/"><%= title %></a>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col" style="text-align:right">
            <a class="btn btn-primary btn-lg" href="/stories/new" role="button">
                <i class="fas fa-edit"></i>
            </a>
            <button class="btn btn-primary btn-lg" onclick="loadData()">
                <i class="fas fa-redo"></i>
            </button>
            <button class="btn btn-primary btn-lg dropdown-toggle" id="add_city" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="add_city">
                <a class="dropdown-item" href="javascript:selectCity('London', new Date().getTime());">London</a>
                <a class="dropdown-item" href="javascript:selectCity('Madrid', new Date().getTime());">Madrid</a>
                <a class="dropdown-item" href="javascript:selectCity('Paris', new Date().getTime());">Paris</a>
                <a class="dropdown-item" href="javascript:selectCity('Rome', new Date().getTime());">Rome</a>
            </div>
        </div>
    </div>
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>

    <div id="results" style="text-align:center">
    </div>
</div>


</body>
</html>
