<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./layout/head.ejs %>
</head>
<body onload="initIns();loadAllStories();">
<header>
    <% include ./layout/header.ejs %>
</header>
<div class="container">

    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" onclick="loadAllStories()">
                Refresh
            </button>
            <a class="btn btn-primary" href="/stories/new" role="button" title="New Story">
                New Story
            </a>
            <% if (user) { %>
                <a class="btn btn-primary" href="/users/setting" role="button" title="Log Out">
                    Setting
                </a>
                <a class="btn btn-primary" href="/logout" role="button" title="Log Out">
                    Log out
                </a>
            <% } else { %>
                <a class="btn btn-primary" href="/login" role="button" title="Log In">
                    Log in
                </a>
            <% } %>
        </div>
    </div>

    <div class="offline_div text-center" id="offline_div" style="display: none">You are offline</div>

    <div id="stories_comments">
    </div>

</div>
<footer>
    <% include ./layout/footer.ejs %>
</footer>
</body>
</html>