<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="manifest" href="./manifest.json">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- jQuery library -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/appmanager.js"></script>
</head>
<body onload="initWeatherForecasts()">
<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-xs-10"><h1><%= title %></h1></div>
        <div class="col-xs-2">
            <div class="form-group">
                <h1>
                <button class="btn btn-primary btn-lg buttonField roundishShape " id="swap_button"
                        onclick="showCityList()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                </h1>
                <div class="list-group pop_up_list" id='city_list' style="display:none">
                    <button class="list-group-item " onclick="selectCity('London', new Date().getTime());">London</button>
                  <button class="list-group-item" onclick="selectCity('Madrid', new Date().getTime());">Madrid</button>
                  <button class="list-group-item" onclick="selectCity('Paris', new Date().getTime());">Paris</button>
                  <button class="list-group-item" onclick="selectCity('Rome', new Date().getTime());">Rome</button>
                </div>

            </div>
        </div>
    </div>
    <div class="offline_div" id="offline_div">You are offline</div>
    </div>
    <div id="results" style="text-align: center">

    </div>
        </div>
    </div>

</div>
</body>
</html>
