<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./layout/head.ejs %>
    <link href="/styles/setting.css" rel="stylesheet">
</head>
<body class="text-center" data-gr-c-s-loaded="true">
<div class="container">

    <form class="form-login" enctype="multipart/form-data" action="/upload_avatar" method="post">
        <img class="mb-4" src="/images/icons/icon-256x256.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Update your info</h1>
        <% if (message) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <input type="file" name="avatar" id="avatar" accept="image/*">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update Avatar">
        <p class="mt-5 mb-3 text-muted">© <%- new Date().getFullYear() %></p>
    </form>

</div>
</body>
</html>