<%- include('../layout/head'); %>
<body onload="loadData()">
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">Ins</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/stories">Stories</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col text-right">
            <a class="btn btn-primary btn-lg" href="/stories/new" role="button">
                <i class="fas fa-edit"></i>
            </a>
            <button class="btn btn-primary btn-lg" onclick="loadData()">
                <i class="fas fa-redo"></i>
            </button>
        </div>
    </div>
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>

    <h6 class="pb-2 mb-0">Recent update</h6>
    <div id="stories">
    </div>
    <small class="d-block text-right mt-3">
        <a href="#">All Stories</a>
    </small>
</div>

</body>
</html>
