<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head.ejs %>
</head>
<body onload="initIns();loadMyStories()">
<header>
    <% include ../layout/header.ejs %>
</header>
<div class="container">

    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" onclick="loadMyStories()">
                Refresh
            </button>
            <a class="btn btn-primary" href="/stories/new" role="button" title="New Story">
                New Story
            </a>
            <a class="btn btn-primary" href="/logout" role="button" title="Log Out">
                Log out
            </a>
        </div>
    </div>

    <div class="offline_div text-center" id="offline_div" style="display: none">You are offline</div>

    <h3 id="title" class="pb-2 mb-0">Recent stories</h3>
    <div id="stories_comments">
    </div>

</div>
<footer>
    <% include ../layout/footer.ejs %>
</footer>
</body>
</html>
