<%- include('../layout/head'); %>
<body onload="initIns()">
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">Ins</a>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/stories">Stories</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-center">

    <div class="form-group">
        <label for="new_story"></label>
        <textarea class="form-control mb-3" rows="5" cols="20" id="new_story"
                  placeholder="Let's share something new~"></textarea>
        <button type="submit" class="btn btn-primary" onclick="postNewStory()">Post</button>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="locationCheck" onclick="toggleLocation()">
        <label class="form-check-label" for="locationCheck">
            Use my location
        </label>
    </div>

    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    <!--TODO Need to find a good alternative-->
    <div id="video-stream" class="embed-responsive embed-responsive-1by1">
        <video muted autoplay class="embed-responsive-item"></video>
    </div>

    <div id="snapshot-show">
        <img src="" alt="" class="img-fluid">
        <canvas style="display: none;"></canvas>
    </div>

    <button class="btn btn-primary btn-lg" onclick="snapshot()">
        <i class="fas fa-camera"></i>
    </button>

    <script src="/scripts/new_story.js"></script>
</div>


</body>
</html>
