<%- include('../layout/head'); %>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">Ins</a>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/stories">Stories</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-center">

    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    <div class="Input_text">
        <textarea type="text" rows="5" cols="20" placeholder="Let's share something new~" class="input-text w200 form-control" aria-describedby="basic-addon1" name="keyword" id="keyword" ></textarea>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    <!--TODO Need to find a good alternative-->
    <div class="embed-responsive embed-responsive-1by1">
        <video muted autoplay class="embed-responsive-item"></video>
    </div>

    <button class="btn btn-primary btn-lg" onclick="snapshot()">
        <i class="fas fa-camera"></i>
    </button>

    <div>
        <img src="" alt="" class="img-fluid">
        <canvas style="display: none"></canvas>
    </div>


    <script src="/scripts/camera.js"></script>
</div>


</body>
</html>
